<div id="bounding-box"
  style="display: flex; align-items: start; ; height: 100%; width: 100%; max-height: 100%; max-width: 100%;">

  <div cdkDrag cdkDragBoundary="#bounding-box" class="list-card">
    <div cdkDropListGroup>
      <div class="users-container">
        <div cdkDropList [cdkDropListData]="users" class="users-list" (cdkDropListDropped)="drop($event)">
          <div class="user" *ngFor="let user of users" cdkDrag>
            <input type="text" value="{{user.name}}">
            <button (click)="removeUser(user)" class="remove-button">Remove</button>
          </div>
        </div>
        <button class="add-user-button" (click)="addUser()">Add User</button>
      </div>
    </div>
  </div>
</div>
