input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: lightslategrey;
  color: white;
  cursor: pointer;
}

.list-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid lightgray;
  background: lightgray;
  border-radius: 0.5rem;
}

.add-user-button {
  margin-right: 5%;
  color: grey;
  background-color: whitesmoke;
  border-radius: 0 0 0.5rem 0.5rem;
}

.users-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.users-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.user {
  padding: 1rem;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  cursor: auto;
  background: white;
  font-size: 14px;

  .remove-button {
    background-color: salmon;
  }
}

.user:last-child {
  border: none;
}

.cdk-drag-preview {
  border-radius: 0.5rem;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.users-list.cdk-drop-list-dragging .user:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
